.home-page {
  display: flex;
  margin: 0;
  height: 90vh;
  padding: 0;
}

.hero {
  display: flex;
  margin: 30px;
  
}

.left-content {
  /* border: 5px solid; */
  width: 700px;
  
}

.right-content {
  /* border: 5px solid; */
  width: 500px;
  object-fit: cover;
  display: flex;
}

.bottom-items {
  /* border: 5px solid; */
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-left: 90px;
  margin-right: 110px;
}

#background-picture {
  height: 400px;
  position: relative;
  display: inline-block;
}

#background-picture:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  object-fit: cover; /* Ensure the background image covers the entire container */
  z-index: -1; /* Set a lower z-index to place it behind the text */
}


.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color:rgba(45, 22, 2, 1); /* Adjust the text color as needed */
  margin-top: 0;
  margin-left: -250px;
}

.icons {
  display: flex;
  gap: 30px;
}

.icons i {
  font-size: 30px; 
  color: rgba(36, 35, 62, 1); 
  transition: color 0.3s ease, transform 0.3s ease;
}

.icons i:hover {
  color:  rgb(238, 17, 153); 
  transform: scale(1.7); 
}

.button button {
  padding: 7px 20px;
    background-color: rgba(177, 41, 90, 0.79);
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}


.button button:hover {
  background-color: rgb(238, 17, 153); /* Change to the desired hover background color */
  color: #fff; /* Change to the desired hover text color */
  border-color: rgb(238, 17, 153); /* Change to the desired hover border color */
}

#picture {
  width: 400px;
  height: 470px;
  padding-left: 70px;
}

#picture:hover {
  width: 400px;
  height: 470px;
  padding-left: 70px;
  border-color: rgb(238, 17, 153);
  /* border: 10px solid rgb(238, 17, 153); */
 transform: scale(1.1);
 transition: 0.5s ease-in-out;
  border-radius: 50%;
  background: linear-gradient(to top, rgba(221, 43, 108, 0.79), rgb(255, 253, 254));
}