.Contact-page {
    padding: 20px; /* Add padding around the component */
}
  
.contact-info {
    margin-bottom: 500px; /* Add margin at the bottom of the contact info */
}
  
.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add margin between each contact item */
    padding-left: 30px;
    margin-left: 50px;
    font-weight: 500;
}
  
.contact-item .icon {
    margin-right: 10px; /* Add margin between the icon and text */
}
  
.right-contact {
    margin-top: 50px; /* Add margin at the top of the right contact section */
    width: 600px;
    margin-left: 300px;
    border-radius: 50px;
    padding-top: 50px;
    padding-right: 50px;
    box-shadow: 0px 10px 30px 20px rgb(231, 127, 158);
    background-color: rgb(223, 207, 211);
    
}
  
.input-control {
    margin-bottom: 15px; /* Add margin between each input control */
    display: flex; /* Use Flexbox */
    align-items: center; /* Align items vertically */
}
  
.input-control label {
    flex-basis: 30%; /* Adjust label width */
    font-weight: bold;
}
  
.input-control input,
.input-control textarea {
    flex-grow: 1; /* Input takes remaining space */
    padding: 15px;
    border: 3px solid #ccc;
    border-radius: 15px;
    
}
  
.submit-btn {
    margin-top: 20px; /* Add margin at the top of the submit button */
}
  
.main-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e866a9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
}
  
.main-btn:hover {
    background-color: #d22257;
}
